
body {
	padding-top:4em;
    font-family: Georgia, "Times New Roman",Times, serif;
    background-image:url(../Picture/background_Autobiography.jpg);
	background-size: cover;
	}

img{
    position: absolute;
    top: 1em;
    left: 50em;
	width: 20%;
	height: 50%;
	display:none;}
		
ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 6em;
    left: 1em;
    width: 8em }
		  
ul.navbar li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black;
	width: 8em ;
	}
	
ul.navbar a {
    text-decoration: none }

ul.navbar li:hover{
    background-color: rgb(115, 115, 115);
    color: white;
}
h1{
	font-weight: bold; 
	color: black; font-size: 20px;
	text-deco:underline;
	z-index:99;
	
}
.fixed-index{
	z-index:1;
}


@media (max-width: 768px) {
	body{
		color :white;	
	}
	h1{
		padding-left:6em;
		text-align:center-left;
		word-wrap:break-word;
	}
	img{
		position: absolute;
		top: 2em;
		left: 20em;
		width: 20%;
		height: 20%;
	}
	
	caption {
	  color:white;
	  caption-side:top;
	}	
	ul.navbar {
		position: absolute;
		left:0;
	}
	
}	