
body {
	padding-top: 4em;
    font-family: 'Microsoft JhengHei';
    color: purple;
    background-image: url(../Picture/background_Index.jpg);
	background-size:cover;
}


table{		
	text-align: center;	
	vertical-align: middle;
	margin:0px auto;
}

caption {
  color:black;
  text-align:center;
  caption-side:top;
}	

.fixed-index{
	z-index:1;
}
	
h1 {
    font-weight: bold;
    color: #000;
    font-size: 50px;
    color: #ffffff;
    /*強制跟body一樣 for 3D*/
   

    /*原本有漏打*/
	text-align:center;
    text-decoration: underline;
    text-shadow: 2px 2px #400b0b;
}

ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 6em;
    left: 0.5em; 
    width: 8em ;
	z-index:99;
}

ul.navbar li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black;
	width:8em;
}

ul.navbar a {
    text-decoration: none;
	
}
ul.navbar li:hover{
    background-color: rgb(115, 115, 115);
    color: white;
}


a:link {
    color: blue
}

a:visited {
    color: purple
}

address {
	color:black;
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted
}

@media (max-width: 768px) {
	body{
		color :white;
		background-image:url(../Picture/background_Index_RWD.jpg);
	}
	h2{
		color:white;
		font-size:150%;
	}
	caption {
	  color:white;
	  caption-side:top;
	}	
	table{
		font-size:80%;
	}
	ul.navbar {
		font-size:80%;
		width:7em;
		position: absolute;
		left:0;
	}
	address {
		color:white;
	}
	
}