body {
    padding-top: 2em;
    padding-left: 15em;
    font-family: 'Microsoft JhengHei';

    color: black;
    background-image: url("Background_Unity.png")
}

ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 6em;
    left: 1em;
    /*漏打分號*/
    width: 9em;
}

ul.navbar li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black;
}

ul.navbar a {
    text-decoration: none
}

h1 {
    padding-left: 8em;
}